<article>
  <header>
    <h2>
      <%= @profile.name %>
    </h2>
    <p>
      <%= @profile.description %>
    </p>
    <table>
      <tr>
        <th>Current Skills:</th>
        <td>
          <%= @profile.current_skills.to_sentence %>
        </td>
      </tr>
      <tr>
        <th>Interested in Learning:</th>
        <td>
          <%= @profile.interested_skills.to_sentence %>
        </td>
        </td>
      </tr>
      <tr>
        <th>Location:</th>
        <td>
          <%= @profile.location %>
        </td>
      </tr>
    </table>
  </header>
</article>

<%= link_to("All Profiles", root_path) %>
<%= link_to("Edit", edit_profile_path(@profile)) %>
<%= link_to "Delete", profile_path(@profile), method: :delete, data: {confirm: 'Are you sure?'} %>
