<aside id="sidebar">
  <nav>
    <ul>
      <li>
        <%= link_to 'All Profiles', profiles_path %>
      </li>
      <li>
        <%= link_to 'Create New Profile', new_profile_path %>
      </li>
    </ul>
  </nav>
</aside>

      <div class="users">
        <ul>
      <li class="<%= "active" if current_page?("/users/sign_up") %>">
        <%= link_to "Sign up", new_profile_registration_path %>
      </li>
      <li class="<%= "active" if current_page?("/users/sign_in") %>">
        <%= link_to "Sign in", new_profile_session_path %>
      </li>
    </ul>
  </div>
