<!DOCTYPE html>
<html>
<head>
  <title>KnowledgeTrader</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <% if user_signed_in? %>
    <div class="navbar-right">
      <p class="navbar-text">
        Signed in as <%= current_user.email %>
      </p>
      <ul class="nav navbar-nav">
        <li><%= link_to "Sign out", destroy_user_session_path,
          method: :delete %>
</li> </ul>
</div>
<% end %>

 <div class = "container">
    <%= render 'layouts/header'%>
    <%= render 'layouts/sidebar' %>

        <%= yield %>
    <%= render 'layouts/footer' %>
</body>
</html>
</div>
